rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // This rule allows a user to upload their own profile picture.
    // It is simplified for debugging. We temporarily removed size and type checks.
    // Read access is granted to any authenticated user to see avatars.
    match /profile-pictures/{userId}/{fileName} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }
  }
}
